DROP Database Boardies
CREATE Database Boardies
USE [Boardies]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](50) NULL,
	[fullName] [varchar](50) NOT NULL,
	[streetAddress] [varchar](255) NOT NULL,
	[postCode] [varchar](5) NOT NULL,
	[city] [varchar](28) NOT NULL,
	[country] [varchar](28) NOT NULL,
	[phone] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] NOT NULL,
	[categoryName] [varchar](58) NOT NULL,
	[description] [varchar](250) NOT NULL,
	[image] [varchar](58) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [smallint] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](50) NOT NULL,
	[addressID] [int] NOT NULL,
	[subTotal] [decimal](10, 2) NULL,
	[discount] [decimal](10, 2) NULL,
	[shippingFee] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[orderDate] [datetime] NULL,
	[status] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](40) NOT NULL,
	[categoryID] [int] NULL,
	[productPrice] [decimal](10, 2) NULL,
	[unitsInStock] [smallint] NULL,
	[productDescription] [varchar](max) NOT NULL,
	[manufactureYear] [smallint] NOT NULL,
	[productImage] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/14/2021 12:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](50) NOT NULL,
	[fullName] [varchar](50) NOT NULL,
	[addresses] [varchar](255) NULL,
	[postalCode] [varchar](6) NULL,
	[city] [varchar](30) NULL,
	[country] [varchar](30) NULL,
	[phone] [varchar](12) NULL,
	[email] [varchar](50) NOT NULL,
	[userName] [varchar](30) NOT NULL,
	[userPassword] [varchar](150) NOT NULL,
	[isAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([categoryID], [categoryName], [description], [image]) VALUES (1, N'Child', N'Game for Child', N'https://i.ibb.co/svbRMpf/Child.jpg')
INSERT [dbo].[Categories] ([categoryID], [categoryName], [description], [image]) VALUES (2, N'Family', N'Game for Family', N'https://i.ibb.co/SQCTJxL/Family.jpg')
INSERT [dbo].[Categories] ([categoryID], [categoryName], [description], [image]) VALUES (3, N'Strategy Light', N'Game for Strategy Light', N'https://i.ibb.co/3v8fhJ9/Strategy-Light.jpg')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productID], [productName], [categoryID], [productPrice], [unitsInStock], [productDescription], [manufactureYear], [productImage]) VALUES (1, N'Monza', 1, CAST(45.00 AS Decimal(10, 2)), 20, N'Player: 2-6, Age: Above 5, Game time: approx. 10-15 mins, In the game, all dice are rolled each roun', 2020, N'https://i.ibb.co/TckCw0t/monza.jpg')
INSERT [dbo].[Products] ([productID], [productName], [categoryID], [productPrice], [unitsInStock], [productDescription], [manufactureYear], [productImage]) VALUES (2, N'Story Cubes', 1, CAST(20.00 AS Decimal(10, 2)), 20, N'Throw 9 dice and tell the story in the thrown pattern. " Story Cubes" offers endless creative possibilities. There is no right or wrong story. Anyone can write their own story. Great for families, travel, entertainment and parties! " Story Cubes" brings joy to everyone! The only rule: there is no wrong answer', 2020, N'https://i.ibb.co/kckY7mH/storycubes.jpg')
INSERT [dbo].[Products] ([productID], [productName], [categoryID], [productPrice], [unitsInStock], [productDescription], [manufactureYear], [productImage]) VALUES (3, N'Geometric Art', 1, CAST(35.00 AS Decimal(10, 2)), 20, N'Player: 3-5, Age: Above 7, Game time: approx. 30 mins, Utilizing various geometric symbols as creative media, everyone draws and guesses questions in turn. The goal is to get the viewer to understand your work and guess the name of your painting.', 2020, N'https://i.ibb.co/DYpfthp/geometricart.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Users] ([userID], [fullName], [addresses], [postalCode], [city], [country], [phone], [email], [userName], [userPassword], [isAdmin]) VALUES (N'12232', N'admin', NULL, NULL, NULL, NULL, NULL, N'admin@boardies.com', N'admin@boardies.com', N'$2a$10$qE1.8TVJCsLvHTjsVdILve95CDzaJ0PBWldoHJ8Ht7GqBw55BU36C', 1)
INSERT [dbo].[Users] ([userID], [fullName], [addresses], [postalCode], [city], [country], [phone], [email], [userName], [userPassword], [isAdmin]) VALUES (N's8tv8ru2m', N'usertest123', NULL, NULL, NULL, NULL, NULL, N'usertest123@gmail.com', N'usertest123@gmail.com', N'$2a$10$kFt0C8Aj6oJpxJjekICA5u7cQY7/9cUwiyNw.lLV888xI7dqjUSsG', 0)
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__produc__31EC6D26]  DEFAULT ((0)) FOR [productPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__unitsI__32E0915F]  DEFAULT ((0)) FOR [unitsInStock]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Users_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Users_userID]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Orders] FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Orders]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Products] FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
