.navbar{
  font-family: "Lakki Reddy", sans-serif;
}

/* Top bar message */
.top-bar {
  color: #495057;
  background: #f8f9fa;
  padding: 1rem;
  font-weight: 300;
}

.top-bar.top-message {
  color: white;
  background-color: purple;
  font-size: 1.125rem;
}

.top-content h4 {
  font-family: 'Lakki Reddy', cursive;
  color: purple;
  text-align: center;
  text-transform: uppercase;
}

.footer-copyright {
  padding: 15px;
  color: white;
  background-color: purple;
  font-size: 1.125rem;
}

/* Container-fluid or container */
.container-fluid {
  width: 100%!important;
  max-width: 1200px!important
}

/* Nav Menu */
.nav-item {
  margin-left: 4em;
}

.dropdown a, .nav-item a {
  font-weight: bold;
  color: #495057;
}


/* Swiper */
.swiper-container {
  width: 90%;
  height: 250px;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .product-image {
  margin-bottom: 20px;
  margin-top: -2em;
}

/* Categories */
.categories-wrapper {
  border: 4px solid ghostwhite;
}

.categories-img {
  width: 300px;
  height: 200px;
  padding: .2em;
  margin-left: 2em;
}

/* FAQ Section */
.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "e072"; /* "play" icon */
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

/* Login and SignUp */
.block-header{
  background: #f8f9fa;
  padding: 1em;
}
.block-body .block-header{
  padding: 1.2rem 1.5rem
}

/* User Profile Management */

.customer-profile {
	text-align: center;
	background: #f8f9fa;
	padding: 2rem
}

.customer-image {
	padding: .5rem;
	background: #fff;
	max-width: 10rem;
	margin-bottom: 1.5rem
}

.customer-nav .list-group-item {
	color: #495057;
	font-size: .9rem;
	border-color: #e9ecef
}

.customer-nav .list-group-item:focus,
.customer-nav .list-group-item:hover {
	background: #f8f9fa
}

.customer-nav .list-group-item.active {
	background: #adafb1;
	border-color: #e9ecef
}


