<%- include('../header'); -%>
<div class="mb-auto mt-5">
    <div class="container-fluid">
        <section id="content-page" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="text-content text-lg">
                            <p><strong><em>Codex</em></strong></p>
                            <p>Codex is a Team of students from Conestoga College CAD Program.
                                It was founded in 2019. Our mission is to bring happiness to the world via our technology.</p>
                            <p>We want to remove the barrier between human beings via games.
                                We want to promote some games to the public so that they can be entertained, educated,
                                nd inspired. We believe “Game is not just a game.”</p>
                            <p>We believe this project will bring lots of benefits to the public especially for wide-spreading
                                games and make it become common around the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('../footer'); -%>