<%- include('../header'); -%>
<div class="container-fluid">
    <br />
    <div id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Getting started with Boardies</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    You can go through the page to find the games you like here.
                    After targeting which game you would like to buy, you may click on the photos of the game.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Register to be a member</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="card-block">
                    Before buying the game, you first need to register to be a member of Boardies.
                    After being a member, you may add the items you would like to add to the shopping cart.
                </div>
            </div>
        </div>

        <div class="faqHeader">Buyers</div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Payment</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse in">
                <div class="card-block">
                    We only accept credit cards for payment.
                    Please prepare your credit card (Visa or Master) before you purchase here.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Refund or Cancel the order</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="card-block">
                    If you want to cancel the order, please email admin ASAP or Leave a message in the forum.
                    If the items are ready to ship or shipped, cancel and refund are not allowed..
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
