<%- include('../header'); -%>
<div class="mb-auto mt-5">
    <div class="container-fluid">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="block">
                            <div class="block-header">
                                <h6 class="text-uppercase mb-0">Login</h6>
                            </div>
                            <div class="block-body">
                                <p class="lead">Already a customer?</p>
                                <hr>
                                <% if(typeof signInError !== 'undefined' && signInError) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <%= signInError.toString() %>
                                    </div>
                                <% } %>
                                <form method="post" action='/sign-in'>
                                    <div class="form-group">
                                        <label for="email" class="form-label">Email</label>
                                        <input id="email" type="text" name="email" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="form-label">Password</label>
                                        <input id="password" type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input id="rememberMe" name="rememberMe" value="1" type="checkbox" class="custom-control-input">
                                            <label for="rememberMe" class="custom-control-label">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="form-group  d-flex justify-content-between align-items-center flex-column flex-lg-row">
                                        <a href="/forgotpassword">Forgot your password?</a>
                                        <button type="submit" class="btn btn-outline-dark"><i class="fa fa-sign-in-alt mr-2"></i>Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 ml-5">
                        <div class="block">
                            <div class="block-header">
                                <h6 class="text-uppercase mb-0">New account</h6>
                            </div>
                            <div class="block-body">
                                <p class="lead">Not a registered customer yet?</p>
                                <hr>
                                <% if(typeof signUpError !== 'undefined' && signUpError) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <%= signUpError.toString() %>
                                    </div>
                                <% } %>
                                <form method="post" action='/sign-up'>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="firstname" class="form-label">First name</label>
                                            <input id="firstname" name="firstname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group col">
                                            <label for="lastname" class="form-label">Last name</label>
                                            <input id="lastname" name="lastname" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailNew" class="form-label">Email</label>
                                        <input id="emailNew" name="emailNew" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordNew" class="form-label">Password</label>
                                        <input id="passwordNew" name="passwordNew" type="password" class="form-control">
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-outline-dark"><i class="far fa-user mr-2"></i>Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('../footer'); -%>