<%- include('../header'); -%>
<div class="mb-auto mt-5">
    <div class="container-fluid">
        <section id="content-page" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="text-content text-lg">                          
                            <p><strong><em>Boardies</em></strong></p>
                            <p>We are delivering the product all across the Canada.</p>
                            <p>There are shipping policy.</p>
                            <p>Product will take 2-3 days to ship and to be delivered it will take almost 7-20 days depend upon the location</p>
                            <p>Our Team is trying thier best to make sure all the product are shipped within a day; however our working our has been affected by the COVID-19, it may be dealyed.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('../footer'); -%>