<%- include('../header'); -%>
<div class="alert alert-primary" role="alert">
   Covid-19, has affected the many delivery services across Canada
  </div>
<div class="mb-auto mt-5">
    <div class="container-fluid">
        <section id="content-page" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="text-content text-lg">
                            
                            <p><strong><em>Boardies</em></strong></p>
                            <p>Please login to your existing account to see your order tracking id</p>
                            <form>
                                <div class="mb-3">
                                  <label for="Email" class="form-label">Email address</label>
                                  <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp">
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                  <label for="Password" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="Password1">
                                </div>
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="news">
                                  <label class="form-check-label" for="promotion">For our news letter and latest promotion</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('../footer'); -%>