<footer class="main-footer">
    <div class="py-3" style="background-color: #dddddb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-3 mb-lg-0">
                    <h5 class="text-uppercase text-dark">BOARDIES</h5>
                    <address>
                        299 Doon Valley Kitchener<br>
                        Ontario, Canada<br>
                        M4G5K4<br>
                        519-400-9999
                    </address>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-3 mb-lg-0 mr-auto d-flex-column ">
                    <h6 class="text-uppercase text-dark mb-3">OPENING HOURS</h6>
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <strong class="text-dark">Monday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 7 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Tuesday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 7 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Wednesday:</strong>
                            <span class="ml-auto">12 PM - 7 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Thursday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 7 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Friday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 7 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Saturday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 6 PM</span>
                        </li>
                        <li class="d-flex">
                            <strong class="text-dark">Sunday:&nbsp;</strong>
                            <span class="ml-auto">12 PM - 5 PM</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6  mb-3 mb-lg-0 d-flex-column ">
                    <h6 class="text-uppercase text-dark mb-3">Shop</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/games">View All Games</a>
                        </li>
                        <li>
                            <a href="/games/new-releases">New Releases</a>
                        </li>
                        <li>
                            <a href="/games/pre-order">Pre-Order</a>
                        </li>
                        <li>
                            <a href="/games/sale-items">On Sale</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6  mb-3 mb-lg-0 d-flex-column ">
                    <h6 class="text-uppercase text-dark mb-3">Account</h6>
                    <ul class="list-unstyled">
                        <% if(isLogin == false){ %>
                            <li>
                                <a href="/login">Login / Register</a>
                            </li>
                        <% } else {%> 
                            <li>
                                <a href="user/profile">Profile</a>
                            </li>
                            <li>
                                <a href="user/orders">Orders</a>
                            </li>
                            <li>
                                <a href="user/password">Change Password</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="font-weight-light text-gray-300 bg-dark-primary">
        <div class="footer-copyright">
            <div class="text-center">
                &copy; 2021 Boardies. All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 5,
        slidesPerColumn: 1,
        spaceBetween: 30,
        slidesOffsetBefore: 11,
        grabCursor: true,
        mousewheel: true,
        freeMode: true,
        scrollbar: {
            el: '.swiper-scrollbar',
            hide: false
        },

        breakpoints: {
            1024: {
                slidesPerView: 4,
                slidesPerColumn: 1,
                spaceBetween: 40,
            },
            992: {
                slidesPerView: 3,
                slidesPerColumn: 1,
                spaceBetween: 30,
            },
            768: {
                slidesPerView: 2,
                slidesPerColumn: 1,
                spaceBetween: 15,
            },
            320: {
                slidesPerView: 1,
                slidesPerColumn: 1,
                spaceBetween: 15,
            }
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>