<%- include('../header'); -%>
<div class="mb-auto mt-5">
    <div class="container-fluid">
        <section id="content-page" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="text-content text-lg">
                            <p><strong><em>Company Title</em></strong></p>
                            <p>Paragraph 1</p>
                            <p>Paragraph 2</p>
                            <p>Paragraph 3</p>
                            <p>etc</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('../footer'); -%>