<%- include('../header'); -%>
<div class="container-fluid">
    <br />
    <div id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Question here</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Question here</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Question here</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>

        <div class="faqHeader">Sellers</div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Question here</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Question here</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Question here</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Question here</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Question here</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>

        <div class="faqHeader">Buyers</div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Question here</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Question here</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse in">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae consequatur corporis doloremque eaque, earum, eos inventore ipsum iusto laboriosam magni neque nulla omnis possimus repellat tempore tenetur, veritatis.
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
