<%- include('../header'); -%>
<div class="container-fluid">
    <div class="top-content">
        <h4>New Releases</h4>
        <div class="dropdown-divider"></div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-8.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-9.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-10.jpg)"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="top-content">
        <h4>SHOP BY CATEGORIES</h4>
        <div class="dropdown-divider"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm categories-wrapper mr-3">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
        <div class="col-sm categories-wrapper mr-3">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
        <div class="col-sm categories-wrapper">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-sm categories-wrapper mr-3">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
        <div class="col-sm categories-wrapper mr-3">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
        <div class="col-sm categories-wrapper">
            <img class="categories-img" src="https://swiperjs.com/demos/images/nature-1.jpg">
            <p class="text-center font-weight-bold">HHAAHAH</p>
        </div>
    </div>
</div>

<%- include('../footer'); -%>